/*---------- genericos para alterar a pag inteira ----------*/
*
{
    padding: 0;
    margin: 0;
}

header
{
    background: #6A0DAD;
    color: white;
    padding: 10px;
    text-align: center;
}

body
{
    font-family: Arial, sans-serif;
    background:#D8BFD8;
    margin: 0;
    padding: 0;
}

.center-text
{
    text-align: center;
}


/*----------Estilizando a pagina----------*/

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
}

h1
{
    text-align: center;
    margin-top: 10px;
}

p
{
    text-align: center;
    margin-top: 10px
}

/*---------- Estilizando Botão ----------*/

button
{
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

button:hover
{
    background-color: #6A0DAD;
    color: black;
}

a
{
    line-height: 25px;
    text-decoration: none;
    color: black;
}

footer
{
    text-align: center;
}

